body{
    background-color: rgb(73, 73, 73);
}
img{
   
    width: 300px;
    background-attachment: fixed;
}
hgroup{
    
    margin-top: -150px;
    margin-left: 280px;
   
}
.cabecalho{
    border-bottom: 1px solid #606060;
    

}

.sessoes{
   
    background-color:#00465e;
}

.menu ul{
list-style: none;
text-transform: uppercase ;
position:absolute;
top: -20px;
left: 800px;

}

.menu li{
    display: inline-block;
    background-color: #8e9192;
    padding: 5px;
    margin: 1px;
    transition: .5s;
}

.menu li:hover{
    background-color: #c0bbbb;
}

.menu a{
   text-decoration: none;
   color: black;
}


.rodape {
font-size: 9pt;
clear: both;
border-top: 1px solid #606060;
}

.rodape p{
text-align: center;
}
.bmsg {
    background-color: #87898a;
}
.botao{
    display: flex;
    width: 90px;
    border-left: 200px;
}
